html {
  min-height: 100%;
  background-image: url("/img/cool-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.footer-custom {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: #f4e8b9;
  color: #473c33;
  text-align: center;
}

.navbar-custom {
  background-color: #658864;
  padding: 20px;
}

.signup-btn {
  background-color: #b7b78a;
}

.social-links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-block {
  text-align: justify;
}
